@use '../../styles/variables' as v;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: v.$off-white;
  padding: 0;

  .login-form {
    background: v.$white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px v.$shadow;
    max-width: 400px;
    width: 100%;

    h1 {
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
      color: v.$primary;
      text-align: center;
    }

    .button-container {
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    padding: 0 1rem;

    .login-form {
      padding: 1rem;
    }
  }
}
