@use '../../styles/variables' as v;

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.3s ease;
  
    &.primary {
      background-color: v.$primary;
      color: v.$white;
      border: none;
  
      &:hover {
        background-color: v.$primary-hover;
      }
  
      &:active {
        background-color: v.$primary-hover;
      }
    }
  
    &.disabled {
      background-color: v.$disabled-background;
      color: v.$disabled-color;
      cursor: not-allowed;
      pointer-events: none;
    }

    &.fullWidth {
      width: 100%;
    }
  
    .loader {
      border: 2px solid v.$white;
      border-top: 2px solid transparent;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 1s linear infinite;
    }
  
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  