

@font-face {
    font-family: GeistVF;
    src: url('../assets/fonts/GeistVF.woff');
}

$font-stack: GeistVF;

$primary: #3498db;

$white: #ffffff;
$off-white: #f5f5f5;
$gray: #171717;
$gray-2: #555;
$error: #e53e3e;

$button-hover: #81121b;
$primary-hover: #2980b9;

$disabled-background: #edf2f7;
$disabled-color: #a0aec0;

$shadow: rgba(0, 0, 0, 0.2);