

@font-face {
    font-family: GeistVF;
    src: url('../assets/fonts/GeistVF.woff');
}

$font-stack: GeistVF;

$primary: #b91b28;

$white: #ffffff;
$off-white: #f5f5f5;
$gray: #171717;
$error: #e53e3e;

$button-hover: #81121b;

$disabled-background: #edf2f7;
$disabled-color: #a0aec0;

$shadow: rgba(0, 0, 0, 0.1);