@use '../../styles/variables' as v;

.dragon-card {
    background-color: v.$white;
    border: 1px solid v.$off-white;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px v.$shadow;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
  
    h2 {
      margin: 0 0 0.5rem 0;
      color: v.$gray;
    }
  
    p {
      margin: 0.5rem 0;
      color: v.$gray-2;
  
      strong {
        color: v.$gray;
      }
    }
  
    .buttons {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;

      @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
  