@use '../../styles/variables' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: v.$white;
  border-bottom: 1px solid v.$gray-3;

  @media (max-width: 425px) {
    padding: 1rem;
  }
  
  .header-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: v.$gray-4;
    cursor: pointer;
    margin-right: 1.5rem;
  }
  
  .header-buttons {
    display: flex;
    gap: 1rem;

    @media (max-width: 425px) {
      gap: 0.3rem;
    }
  }
}
  