
@use '../../../styles/variables' as v;

.edit-dragon {
  padding: 2rem;
  background-color: v.$off-white;
  color: v.$gray;
  height: max-content;
  min-height: 100vh;

  @media (max-width: 768px) {
    padding: 1rem;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
  }

  .form {
    max-width: 400px;
    margin: 0 auto;
    background: v.$white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px v.$shadow;

    .form-group {
      margin-bottom: 1rem;
    }
  }

  .histories-input {
    margin-top: 2rem;

    .title-history {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  
    .history-item {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 1rem;
      margin-bottom: 1rem;

      .input-container {
        margin-bottom: 0;
      }
    }
  
    .add-history {
      margin: 0.5rem 0;
    }
  }
}
