@use '../../styles/variables' as v;

.dragons-list {
  padding: 2rem;
  background-color: v.$off-white;
  min-height: 100vh;
  
  @media (max-width: 768px) {
    padding: 1rem;
  }
  
  .header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .header-right {
      display: flex;
      gap: 1rem;
    }

    h1 {
      text-align: start;
      color: v.$gray;
      font-size: 1.8rem;

      @media (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
  