@use '../../styles/variables' as v;

.dragons-list {
  padding: 2rem;
  background-color: v.$off-white;
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .header-right {
      display: flex;
      gap: 1rem;
    }

    h1 {
      text-align: center;
      color: v.$gray;
      font-size: 1.8rem;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
  